certifi==2026.6.17
greenlet==3.5.1
iniconfig==2.3.0
packaging==26.2
pillow==12.2.0
playwright==1.60.0
pluggy==1.6.0
pyee==13.0.1
Pygments==2.20.0
pytest==9.0.3
PyYAML==6.0.3
setuptools==82.0.1
sqlglot==30.11.0
typing_extensions==4.15.0
-e git+https://github.com/willweimike/autonomy.git@676c5466657daa3d50806065902dbc834d2c9d7d#egg=whole_new_agentic_system
